# Simulink generation files
slprj/

# Simulink cache files
*.slxc

# S-Function compiled files
/PMSMCurrentControllerWrapper*
/SPWMWrapper*
/PMSMCurrentRefWrapper*
/PMSMFOCWrapper*
/focSpeedWrapper*
/SFB__*__SFB.mat
rtwmakecfg.m

